:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body, html {
    background: #000000;
    margin: 0px !important;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topbar {
    display: flex;
    padding: 16px;
    gap: 10px;
    align-items: center;
    border-width: 1px;
    border-color: #534C54;
    border-style: inset;
}

.logo #pic {
    max-width: 30px;
    max-height: 30px;
}

h1 {
    font-family: InterVariable;
    color: #ffffff;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#pic {
    max-width: 37px;
    max-height: 37px;
}

.button {
    height: 77px;
    padding: 20px;
    border-width: 0px 1px 0px 1px;
    border-color: #534C54;
    border-style: inset;
    background-color: #000000 !important;
}

.titlecontainer {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: left;
}

.titlecontainer h3 {
    font-family: InterVariable;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.45px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.windows {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    border-color: #534C54;
    border-style: inset;
    background-color: #000000 !important;
    border-width: 1px 0px 1px 0px;
}

.lyricsspace {
    height: 100%;
}

.lyrics  {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: left;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    border-color: #534C54;
    border-style: inset;
    background-color: #000000 !important;
    border-width: 0px 1px 0px 1px;
}

.lyriccontainer {
    display: flex;
    gap: 10px;
    color: #ffffff !important;
}

.lyricline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lyricline h3 {
    font-family: InterVariable;
    color: #ffffff !important;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.backs {
    padding: 5px 10px;
    align-items: center;

    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
}

.backs h3 {
    font-family: InterVariable;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #534C54;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.editbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typingcont{
    width: 100%;
    height: 95%;
}

.typingfield {
    resize: none;
    appearance: none !important;
    background-color: #000000;
    border-width: 0px;
    width: 100%;
    height: 100%;
    font-family: InterVariable;
    font-weight: 600;
    font-size: 15px;
    color: #534C54;
}

.typingfield:active {
    appearance: none !important;
    background-color: #000000;
    border-width: 0px;
}

.typingfield:focus {
    appearance: none !important;
    background-color: #000000;
    border-width: 0px;
}

.typingfield:focus::placeholder {
    text-align: left;
    font-family: InterVariable;
    font-weight: 600;
    color: #534C54;
}

.syncing {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: left;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.controls {
    display: flex;
    justify-content: left;
    align-items: center;
    align-self: stretch;
}

.fill {
    height: 77px;
    display: flex;
    flex: 1 0 0;
    background-image: url(RaysTextureLong.png) !important;
}

.fileinfo {
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #000000;
    gap: 5px;
}

.textinfo {
    align-items: left;
    padding: 0px 20px 0px 0px;
}

.textinfo h3 {
    font-family: InterVariable;
    color: #ffffff;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

.textinfo h4 {
    font-family: InterVariable;
    color: #534C54;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;   
    text-align: left;
}

.fileimage #pic {
    padding: 10px;
    max-width: 73px;
}

.time {
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #000000;   
}

#seek {
    -webkit-appearance: none;
    width: 100%;
    height: 77px;
    background-color: #534C54;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s ease-in-out;
    color: #ffffff;
    --thumb-height: 77px;
    --thumb-width: 10px;
}

#seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 77px;
    width: 10px;
    background: #fff;
    cursor: grab;
    flex: 1 0 0;
}


.extracontrols {
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #000000;
}