:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body, html {
    background: #000000;
    margin: 0px !important;
}

.app {
    height: 100vw;
}

.topbar {
    display: flex;
    padding: 16px;
    gap: 10px;
    align-items: center;
    border-width: 1px;
    border-color: #ffffff85;
    border-style: inset;
}

.logo #pic {
    max-width: 30px;
    max-height: 30px;
}

h1 {
    font-family: InterVariable;
    color: #ffffff;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#pic {
    max-width: 37px;
    max-height: 37px;
}

.button {
    padding: 20px;
    border-width: 1px;
    border-color: #ffffff85;
    border-style: inset;
    background-color: #000000 !important;
}

.titlecontainer {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: left;
}

.titlecontainer h3 {
    font-family: InterVariable;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.45px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.windows {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    height: max-content;
    border-color: #ffffff85;
    border-style: inset;
    background-color: #000000 !important;
    border-width: 1px 0px 1px 0px;
}

.lyrics  {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: left;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    height: max-content;
    border-color: #ffffff85;
    border-style: inset;
    background-color: #000000 !important;
    border-width: 0px 1px 0px 1px;
}

.lyriccontainer {
    display: flex;
    color: #ffffff !important;
}

.lyricline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lyricline h3 {
    font-family: InterVariable;
    color: #ffffff !important;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.backs {
    padding: 5px 10px;
    align-items: center;

    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
}

.backs h3 {
    font-family: InterVariable;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #ffffff85;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.editbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typingfield {
    appearance: none !important;
    background-color: #000000;
    border-width: 0px;
    width: auto;
    height: auto;
}

.typingfield:active {
    appearance: none !important;
    background-color: #000000;
    border-width: 0px;
}

.typingfield:focus {
    appearance: none !important;
    background-color: #000000;
    border-width: 0px;
}

.syncing {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: left;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    height: max-content;
}